:root {
    --bcg: #111;
    --txt: #fff;
    --shadow: rgb(255, 0, 0);
    --nav: #000;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    background-color: var(--bcg);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 1000;
    box-shadow: 0 3px 10px var(--nav);
}
  
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

.link {
    color: var(--txt);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 150%;
    font-weight: bold;
    cursor: pointer;
}

.link:hover {
    background-color: var(--shadow);
}

.header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(45deg, var(--bcg) 40%, var(--shadow));
    justify-content: center;
    align-items: center;
}

.img {
    width: 250px;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
}

.img img {
    width: 100%;
    max-width: 300px;
    border-radius: 15px;
    animation: 5s shadow linear infinite;
    padding: 5px;
}

.name {
    font-size: 200%;
    color: var(--txt);
    text-shadow:    2px 2px 2px var(--bcg), 
                    2px 2px 10px var(--bcg), 
                    2px 2px 20px var(--bcg), 
                    2px 2px 30px var(--bcg), 
                    2px 2px 40px var(--bcg);
    width: 50vw;
    max-width: 400px;
}

.desc {
    font-size: 70%;
    text-align: center;
    text-shadow: 2px 2px 2px var(--bcg);
    margin-top: 60px;
}

.mainBody {
    padding-top: 70px;
}

.skills {
    font-size: 150%;
    color: var(--txt);
    margin-top: 50px;
    min-width: 180px;
    max-width: 300px;
    width: 50%;
    padding: 5px;
    animation: 5s shadow linear infinite;
    border-radius: 15px;
    text-shadow:    0px 0px 10px var(--shadow), 
                    0px 0px 20px var(--shadow), 
                    0px 0px 30px var(--shadow), 
                    0px 0px 40px var(--shadow);
}

.skills h1 {
    text-align: center;
}

.skills ul {
    list-style: circle;
}

.skills ul li {
    cursor: pointer;
}

.skills ul li::marker {
    color: var(--shadow);
}

.skills ul li:hover {
    color: var(--bcg);
}

.sectionOne {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aboutMe {
    color: var(--txt);
    font-size: 120%;
    background-color: var(--bcg);
    height: 50%;
    width: 80%;
    padding: 25px;
    margin: 0px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    text-align: center;
    position: relative;
    top: 20%;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.aboutMe::after, .aboutMe::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 50%, var(--shadow));
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -9;
    padding: 3px;
    border-radius: 15px;
    animation: 3s spin linear infinite;
}

.aboutMe::before {
    filter: blur(1.5rem);
    opacity: 1;
}

.projects {
    margin: 100px auto 0px auto;
    width: 80%;
    color: var(--txt);
  }
  
.project-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
  
.project-item {
    background-color: var(--bcg);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px var(--shadow);
    text-align: center;
}

.project-item a {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

.project-item a:hover {
    color: var(--shadow);
}

.sectionThree {
    width: 80vw;
    height: auto;
    margin: 50px auto;
}

.contact {
    padding: 10px;
}

.contactContent {
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 15px;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contactContent p {
    margin: 0 auto;
    color: var(--txt);
    font-size: 110%;
}

.darkmode {
    width: 70px;
    height: 30px;
    background-color: var(--bcg);
    position: absolute;
    right: 20px;
    border-radius: 20px;
    border: 2px solid var(--txt);
    top: 75px;
}

.dmElement {
    width: 28px;
    height: 28px;
    background-color: var(--txt);
    border-radius: 50%;
    border: 1px solid var(--bcg);
    transition: 0.5s;
}

.opinions {
    width: 80vw;
    height: auto;
    margin: 50px auto;
}

.opinionsContent {
    box-shadow: 0px 0px 10px var(--shadow);
    border-radius: 15px;
    padding: 20px;
}

.opinion {
    width: 95%;
    height: auto;
    color: var(--txt);
    border: 1px solid var(--txt);
    border-radius: 10px;
    margin: 10px auto;
    padding: 10px;
    position: relative;
}

.opinion h2 {
    border-bottom: 2px solid var(--txt);
}

.rate {
    position: absolute;
    top: -5px;
    right: 5%;
    font-size: 120%;
    border: 2px solid rgb(255, 217, 0);
    padding: 5px;
    border-radius: 50%;
}

@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

@keyframes shadow {
    0%{
        box-shadow: 0px 0px 10px 2px var(--shadow);
    }
    50%{
        box-shadow: 0px 0px 10px 2px var(--shadow), 0px 0px 30px 4px var(--shadow);
    }
    100%{
        box-shadow: 0px 0px 10px 2px var(--shadow);
    }
}

/* phone */

@media screen and (max-width: 660px) {
    .aboutMe {
        height: 65%;
    }
}

@media screen and (max-width: 600px) {
    .sectionOne {
        grid-template-columns: 1fr;
    }

    .skills {
        width: 80%;
        margin: 50px auto;
    }

    .aboutMe {
        height: 80%;
        margin: 0 auto;
        top: 0;
    }

    .header {
        grid-template-columns: 1fr;
        background: none;
    }

    .img {
        margin: 0 auto;
        width: 80%;
    }

    .img img {
        width: 100%;
    }

    .name {
        margin: 50px auto 0 auto;
        padding: 10px;
        width: 80%;
        border-radius: 15px;
        background-color: var(--bcg);
        position: relative;
    }

    .name::after, .name::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: linear-gradient(45deg, var(--shadow), transparent, transparent, transparent, var(--shadow));
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
        padding: 3px;
        border-radius: 15px;
    }

    .name::before {
        opacity: 1;
        animation: 2s blur linear infinite;
    }

    .contactContent {
        grid-template-columns: 1fr;
    }

    .contactContent p {
        margin: 5px;
    }

    .navbar {
        height: 105px;
    }

    .navbar ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .navbar ul li {
        margin: 0 auto;
    }

    .mainBody {
        padding-top: 140px;
    }

    .darkmode {
        top: 120px;
        right: 0;
    }
}

@keyframes blur {
    0%{
        filter: blur(1rem);
    }

    50%{
        filter: blur(2rem);
    }
    100%{
        filter: blur(1rem);
    }
}
